body {
background-image: url('img/fondo.jpg');
font-size: 20px;
}

.title1{
margin: auto;
width:500px;
height:120px;

}

.contenedor {
margin: auto;
width: 600px;
height: 350px;
background-color: rgba(255, 0, 0, 0.63);
color:white;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

button {
margin-top:20px;
}

